/* Programador del futuro! este es el archivo donde se
manejan todas las clases del tema "fls-theme" y son
los estilos principales, es decir al cambiar una sola, 
cambiaran todas... Si quiere agregar una nueva clase
dirigase a custom.css */

.font-fls
{
    font-family: 'Open Sans', sans-serif;
}

.font-montbold
{
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
}

/*
*DASHBOARD FLS
*/

.row-dashboard {
    margin-bottom: 2rem;
}

.dashboard-card {
    border-radius: 1rem!important;
}

.dashboard-card-body {
    background-color: #00157f;
    border-radius: inherit;
    color: white;
    padding: 3rem 0 0.5rem 0!important;
}

.dashboard-icon-margin {
    margin-bottom: 0.5rem;
    font-size: 3rem;
}

.dashboard-text-margin {
    margin-bottom: 0;
}

.color-white
{
    color: white;
}

.dashboard-pirep-card {
    background-color: #00157f!important;
}

.dashboard-img-pirep-logo {
    max-width: 125px!important;
}

.dashboard-row-pirep {
    align-self: center;
    min-width: 100%;
    place-content: center;
    margin-bottom: 1.5rem;
}

.dashboard-primary-text{
    color: white;
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    font-weight: 800;
    font-size: 2rem;
}

.dashboard-secondary-text{
    color: white;
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    font-size: 1.4rem;
}

.dashboard-icon-size {
    font-size: 2rem;
}

.color-fls {
    color: #00157f!important;
}

.news-card {
    border-color: #00157f!important;
    border-width: 3px!important;
    border-radius: 1rem!important;
}



/* Jumpseat card */

.select2-container--default .select2-selection--single {
    background-color: #fff;
    border: 1px solid #aaa;
    border-radius: 15px;
}